.save {
    background-color: green;
    color: white;
}

.delete {
    background-color: red;
    color: white;
}

input {
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}